@model NutritionSite.Models.Food

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Food</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServingSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServingSize" class="form-control" />
                <span asp-validation-for="ServingSize" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServingSizeType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServingSizeType" class="form-control" />
                <span asp-validation-for="ServingSizeType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Calories" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Protein" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fat" class="form-control" />
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Carbs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Carbs" class="form-control" />
                <span asp-validation-for="Carbs" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
